    <section>
        <h2>{{ title() }}</h2>
        @if (books()) {
          <div class="books-grid">
            @for (book of books(); track book.id) {
            <div class="book-card" (click)="showBookDetails(book)">
              <div class="card-content">
                <img [src]="book.thumbnail || '/assets/no-cover.png'" [alt]="book.title" class="book-cover">
                <div class="book-info">
                  <h3>{{ book.title }}</h3>
                  <p>{{ book.authors.join(', ') || 'Unknown Author' }}</p>
                </div>
                @if (isInWishlist(book) && wishList()) {
                <div class="wishlist-indicator">
                  ★ In Wishlist
                </div>
                }
              </div>
            </div>
            }
          </div>
          }
    </section>
    @if (selectedBook()) {
      <app-book-dialog
      [book]="selectedBook()!"
      (close)="selectedBook.set(null)"
    ></app-book-dialog>
    }